*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(89, 93, 97);
    height: 100px;
}
.nav-list ul, a{
    list-style: none;
    display: flex;
    gap: 30px;
   text-decoration: none;
   color: white;
   font-size: 20px;
}
/* banner style starts form here */
.banner-container{
    height: 100vh;
    background-image: url("/assets/image/background.jpg"),linear-gradient(rgba(77, 52, 176, 0.3),rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
.primary{
    color: red;
}
.title{
    font-size: 60px;
    font-weight: bolder;
    color: whitesmoke;
}
.description{
    color: rgb(189, 238, 239);
    width: 50%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn{
    padding: 12px 20px;
    border: none;
    border-radius: 3px;

    
}
.bg-primary{
    background-color: red;
    color: white;
}
/* main style starts form here */
.main-container{
    height: 100vh;
    background-image: url("/assets/image/footer-bg.png"),linear-gradient(rgba(11, 11, 12, 0.878),rgba(0, 0, 0, 0.838));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon{
    width: 100px;
    margin-bottom: 20px;
}
.box{
    text-align: center;
    width: 200px;
    height: 30px;
    padding-top: 25px;
    background-color: white;
    color: black;
}